<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>İletişim</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/globalstyle.css">
    <script type="text/javascript" src="js/jquery.slim.min.js"></script>
    <script type="text/javascript" src="js/popper.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row text-center">
        <div class="col-12 drkgrn">
            <a href="giris.html" class="navbtntxt">GİRİŞ</a>
        </div>
        <div class="col-md-12 col-lg-2 mnkpnk">
            <a href="hakkinda.html" class="navbtntxt">Hakkında</a>
        </div>
        <div class="col-md-12 col-lg-2 navbtntxt" class="mnkbl">
            <a href="ozgecmis.html" class="navbtntxt">Özgeçmiş</a>
        </div>
        <div class="col-md-12 col-lg-2 mnkpnk">
            <a href="sehrim.html" class="navbtntxt">Şehrim</a>
        </div>
        <div class="col-md-12 col-lg-2 mnkbl">
            <a href="takimimiz.html" class="navbtntxt">Takımımız</a>
        </div>
        <div class="col-md-12 col-lg-2 mnkpnk">
            <a href="ilgi-alanlarim.html" class="navbtntxt">İlgi Alanlarım</a>
        </div>
        <div class="col-md-12 col-lg-2 mnkbl">
            <a href="#" class="navbtntxt">İletişim</a>
        </div>
    </div>
</div>
<div class="container content mt-4 mb-4">
    <div id="app">
        <form @submit="submitForm" @reset="resetForm" action="iletisim.php" method="post">
            <table align="center">
                <tr>
                    <td class="text-right"><label for="nameField">Ad:</label></td>
                    <td colspan="2"><input class="fullw" type="text" id="nameField" name="name" v-model="formData.name"></td>
                </tr>
                <tr>
                    <td class="text-right"><label for="emailField">E-posta:</label></td>
                    <td colspan="2"><input class="fullw" type="text" id="emailField" name="email" v-model="formData.email"></td>
                </tr>
                <tr>
                    <td class="text-right"><label for="messageField">Mesaj:</label></td>
                    <td colspan="2"><textarea class="fullw" id="messageField" name="message" v-model="formData.message" rows="8" cols="40"></textarea></td>
                </tr>
                <tr>
                    <td></td>
                    <td class="text-left"><button class="btn btn-warning" type="reset">Sıfırla</button></td>
                    <td class="text-right"><button class="btn btn-success" type="submit">Gönder</button></td>
                </tr>
            </table>
        </form>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                formData: {
                    name: '',
                    email: '',
                    message: ''
                }
            },
            methods: {
                submitForm(e) {
                    if (!this.formData.name) {
                        alert('Ad alanı boş bırakılamaz.');
                        e.preventDefault();
                    }
                    else if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.formData.email))) {
                        alert('Geçersiz e-posta adresi');
                        e.preventDefault();
                    }
                    else if (!this.formData.message) {
                        alert('Mesaj alanı boş bırakılamaz.');
                        e.preventDefault();
                    }
                },
                resetForm() {
                    this.formData.name = "";
                    this.formData.email = "";
                    this.formData.message = "";
                }
            }
        });
    </script>
</div>
</body>
</html>